p {
    font-size: 18px;
}

h2 {
    font-size: 33px;
}

body {
    background-color: black;
}

body {
    background-color: black;
}

.crd {
    width: 300px;
    background-color: rgb(247, 246, 246);
    color: black;
    border-radius: 4px;
    padding: 28px;
    background-color: #fff;
    margin-left: 33%;
}

h4 {
    width: 100px;
    height: 40px;
    background-color: rgb(211, 208, 208);

}

.para {
    width: 300px;
    height: 20px;

    color: rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
}

.head {
    width: 100px;
    height: 40px;
    color: rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);

}